@media only screen and (max-device-width: 780px) {
      .mobile {
        display: block;
      }
      .notmobile {
        display: none;
      }
      h2{ /*navigation bar*/
		font-family: 'Squada One';
		color: rgb(221, 218, 224);
		font-size: 0.8em;
		display: inline-block;
		text-decoration: none;
	}
	h1{ /*welcome*/
		font-family: 'Squada One';
		font-size: 2em;
		text-align: center;
		color: rgb(221, 218, 224);
	}
	h3{/*mini sections*/
		font-family: 'Squada One';
		color: black;
		font-size: 0.9em;
		display: inline-block;
		text-decoration: none;
	}
	h4{ /*Content sections, note color may change*/ 
		font-family: 'Squada One';
		font-size: 1.5em;
		color: black;
		/*color: rgb(255, 18, 245);*/
	}
	h5{
		font-family: 'Abel';
		font-size: 0.7em;
		color: black;
	}
	h6{
		font-family: 'Abel';
		font-size: 0.6em;
		color: rgb(56, 56, 56);
	}
	p{/*standard for text. I like Helvetica, Consolas */
		font-family: 'Abel';
		font-weight: bold;
		color: black;
	}
    nav{
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		word-spacing: 1em;
		margin: 0 auto;
		align-content: center;
		padding:0;
		background-color: black;
		width: 100%;
		overflow: hidden;
		z-index: 100;
		height: 25px fixed;
	}
	nav > a:hover{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
		cursor: pointer;
	}
	.greyblock1{
		background-color: rgb(253, 252, 252);
		align-content: center;
		text-align: center;
		margin: 0 auto;
		padding: 5%;
		width: 100%;
		overflow: auto;
	}
	.greyblock2{
		background-color: rgb(253, 252, 252);
		align-content: center;
		padding: 3% 2% 3% 2%;
		text-align: center;
		width: 100%;
	}


	img{
		max-width: 100%;
		height: auto;	
	}
	.firstimg{
		margin: 4% auto;
		align-content: center;
		display: inline-block;
	}
	.aboutbox{
		background-color: rgb(249, 230, 253);
		align-content: center;
		text-align: justify;
		padding: 3%;
		margin: 5% auto;
		width: auto;
	}

	table{
		margin: 0 auto;
		table-layout: auto;
		border:	none;
	}

	/* ALL THINGS EXPERIENCE + SLIDING */
	.expbox{
		border-style: solid;
		border-color: rgb(221, 218, 224);/*grey*/
		/*border-color: rgb(232, 255, 135);/*green*/
		border-width: 5px;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: transparent;
		width: 100%;
		margin: 5% auto;
	}
	.expref{
		width: 85%;
		margin: 0 auto;
		margin-bottom: margin-top: 0;
		padding: 0;
		border-bottom-style: solid;
		border-bottom-width: 5px;
		border-bottom-color: rgb(249, 230, 253);
	}
	.nav-exp2{
		display: inline-block;
		color: black;
		border-bottom-color: black;
		text-decoration: none;
		text-align: center;
		padding: 2%;
		margin-bottom: 0;
	}
	.nav-exp2:hover{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
		cursor: pointer;
	}
	.nav-exp2:active{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
	}
	.exp_container{
		margin-top: 5%;
		position: relative;
	}
	.exp_container p{
		width: 70%;
		text-align: center;
		margin: 0 auto;
		padding-top: 3%;
	}
	.exp_container h5, h6{
		margin-top: 0;
		margin-bottom: 1%;
		padding: 0;
		border-style: solid black;
		border-width: 3px;
	}
	.exp_container img{
		margin-bottom: 2%;
	}
	.eSlides2{
		display: block;
		margin: 0 auto;
		padding: 3%;
		size: 40%;
	}

	/*FOR PROJECTS SECTION */
	.projectbox{
		margin: 0 auto;
		margin-top: 3%;
		padding: 3%;
		text-align: center;
		align-content: center;
		width: 100%;
		/*background-color: rgb(236, 235, 237);*/
		background-color: transparent;
	}
	.projects_table{
		table-layout: fixed;
		text-align: justify;
		align-content: center;
		border-color: rgb(249, 230, 253);
		border-style: solid;
		border-width: 0px 0 5px 0;
		padding: 2%;
	}
	.projects_table > td{
		margin: 0 auto;
		text-align: center;
	}
	.projects_table .undermessage{
		display: inline-block;
		background-color: rgb(249, 230, 253);
		text-decoration-color: black;
		position: relative;
		/*background-color: transparent;*/
	}

	/*RESUME*/
	.resumebox{
		background-color: black;
		padding: 1% 3% 5% 3%;
		text-align: center;
		align-content: center;
		margin: 5% auto;
		width: auto;
	}
	.resumebox h4{
		color: rgb(255,18,245);
		letter-spacing: 2%;
	}

	/*CONTACT PAGE*/
	.contactbox{
		background-color: rgb(249, 230, 253);
		padding: 5%;
		margin: 5% auto;
		width: auto;

	}
	/*FOOTER AREA*/
	footer{
		background-color: black;
		align-content: center;
		text-align: center;
		color: white;
		padding: 1.5%;
		margin: 0 auto;
		bottom: 0;
		width: 100vw;
	}
	footer > h5{
		font-size: 0.9em;
		color: rgb(221, 218, 224);
		padding-top: 0;
		margin: 0 auto;
		width: auto;
	}
	footer > h6{
		font-size: 0.7em;
		color: rgb(221, 218, 224);
		padding-top: 0;
		margin: 0 auto;
		width: auto;
	}
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXX    SEPERATOR    XXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

 @media only screen and (min-device-width: 781px) {
      .mobile {
        display: none;
      }
      .notmobile {
        display: block;
      }
      h2{ /*navigation bar*/
		font-family: 'Squada One';
		color: rgb(221, 218, 224);
		font-size: 1.3em;
		display: inline-block;
		text-decoration: none;
	}
	h1{ /*welcome*/
		font-family: 'Squada One';
		font-size: 3em;
		text-align: center;
		color: rgb(221, 218, 224);
	}
	h3{/*mini sections*/
		font-family: 'Squada One';
		color: black;
		font-size: 1.2em;
		display: inline-block;
		text-decoration: none;
	}
	h4{ /*Content sections, note color may change*/ 
		font-family: 'Squada One';
		font-size: 2em;
		color: black;
		/*color: rgb(255, 18, 245);*/
	}
	h5{
		font-family: 'Abel';
		font-size: 1.2em;
		color: black;
	}
	h6{
		font-family: 'Abel';
		font-size: 1em;
		color: rgb(56, 56, 56);
	}
	p{/*standard for text. I like Helvetica, Consolas */
		font-family: 'Abel';
		font-weight: bold;
		color: black;
	}
      nav{
		display: inline-block;
		align-content: center;
		position: fixed;
		width: 100%;
		top: 0;
		word-spacing: 2.5em;
		margin: 0px;
		text-align: center;
		padding:0px;
		background-color: black;
		overflow-x: hidden;
		z-index: 100;
	/*	border-color: rgb(221, 218, 224);
		border-bottom-width: 5px;
		border-bottom-style: solid;*/
	}
	nav > a{
	padding: 2%;
	}
	nav > a:hover{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
		cursor: pointer;
	}

	.greyblock1{
		background-color: black;
		align-content: center;
		text-align: center;
		min-height: 85vh;
		margin: 0 auto;
		padding: 7%;
		width: auto;
		overflow: auto;
	}
	.greyblock2{
		background-color: rgb(253, 252, 252);
		align-content: center;
		padding: 3% 5% 3% 5%;
		text-align: center;
		width: auto;
	}


	img{
		max-width: 100%;
		height: auto;	
	}
	.firstimg{
		margin: 4% auto;
		align-content: center;
		display: inline-block;
	}
	.aboutbox{
		background-color: rgb(249, 230, 253);
		align-content: center;
		text-align: justify;
		padding: 3%;
		margin: 10% 5% 10% 5%;
	}

	table{
		margin: 0 auto;
		table-layout: auto;
		border:	none;
	}

	/* ALL THINGS EXPERIENCE + SLIDING */
	.expbox{
		border-style: solid;
		border-color: rgb(221, 218, 224);/*grey*/
		/*border-color: rgb(232, 255, 135);/*green*/
		border-width: 5px;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: transparent;
		width: auto;
		margin: 5% auto;
	}
	.expref{
		width: 75%;
		margin: 0 auto;
		margin-bottom: margin-top: 0;
		padding: 0;
		border-bottom-style: solid;
		border-bottom-width: 5px;
		border-bottom-color: rgb(249, 230, 253);
	}
	.nav-exp{
		display: inline-block;
		color: black;
		border-bottom-color: black;
		text-decoration: none;
		text-align: center;
		padding: 2%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 0;
	}
	.nav-exp:hover{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
		cursor: pointer;
	}
	.nav-exp:active{
		background-color: rgb(255, 18, 245);
		text-decoration-color: white;
	}
	.exp_container{
		margin-top: 5%;
		position: relative;
	}
	.exp_container p{
		width: 70%;
		text-align: justify;
		margin: 0 auto;
		padding-top: 3%;
	}
	.exp_container h5, h6{
		margin-top: 0;
		margin-bottom: 1%;
		padding: 0;
		border-style: solid black;
		border-width: 3px;
	}
	.exp_container img{
		margin-bottom: 2%;
	}
	.eSlides{
		display: block;
		margin: 2%;
		size: 50%;
	}
	.button_right, .button_left{
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
	}
	.button_right{
		right: 10%;
	}
	.button_left{
		left: 10%;
	}

	/*FOR PROJECTS SECTION */
	.projectbox{
		margin: 5% auto;
		margin-top: 3%;
		padding: 3%;
		text-align: center;
		align-content: center;
		width: auto;
		/*background-color: rgb(236, 235, 237);*/
		background-color: transparent;
	}
	.projects_table{
		table-layout: fixed;
		text-align: justify;
		align-content: center;
		border-color: rgb(249, 230, 253);
		border-style: solid;
		border-width: 0px 0 5px 0;
		padding: 2%;
	}
	.projects_table .mainmessage{
		position: relative;
	}
	.projects_table .undermessage{
		display: none;
		text-decoration-color: black;
		text-align: justify;
		right: 0;
	}
	.projects_table:hover .undermessage{
		display: inline-block;
		right: 0;
		background-color: rgb(249, 230, 253);
		position: relative;
		/*background-color: transparent;*/
	}
	.projects_table:hover .mainmessage{
		opacity: 25%;
		size: auto;
	}
	/*RESUME*/
	.resumebox{
		background-color: black;
		padding: 1% 3% 5% 3%;
		text-align: center;
		align-content: center;
		margin: 5% auto;
		width: auto;
	}
	.resumebox h4{
		color: rgb(255,18,245);
		letter-spacing: 2%;
	}

	/*CONTACT PAGE*/
	.contactbox{
		background-color: rgb(249, 230, 253);
		padding: 3%;
		margin: 0 auto;
		width: auto;

	}

	/*FOOTER AREA*/
	footer{
		background-color: black;
		align-content: center;
		text-align: center;
		color: white;
		padding: 1.5%;
		margin: 0 auto;
		bottom: 0;
	}
	footer > h5{
		font-size: 0.9em;
		color: rgb(221, 218, 224);
		padding-top: 0;
		margin: 0 auto;
		width: auto;
	}
	footer > h6{
		font-size: 0.7em;
		color: rgb(221, 218, 224);
		padding-top: 0;
		margin: 0 auto;
		width: auto;
	}
}
/* NOTES
Colors:

Pink:	cymk(0, 92.55, 3.92, 0)
		rgb(255,18,245)
Black: 	cymk(0, 0, 0, 100)
		rgb(0, 0, 0)
Grey: 	cymk(2, 3, 0, 2)
		rgb(245, 242, 250)
Green: 	cymk(9.41, 0, 47.06, 0)
		rgb(232, 255, 135)
White: 	cymk(0, 0, 0, 0)
		rgb(255, 255, 255)
*/